body {
    background-image: linear-gradient(rgba(26, 35, 47, 0.8), rgba(26, 35, 47, 0.95)), url("../logo_austin.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.glass-container {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-container .table {
    --bs-table-bg: transparent;
}

.btn-primary {
    background-color: transparent;
    border-color: transparent;
    /* Remove a borda por defeito */
    color: rgba(255, 255, 255, 0.7);
    /* Texto branco subtil */
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Brilho branco muito subtil ao passar o rato */
    color: #fff;
    /* Texto branco sólido para destaque */
}


/* Estilo para os botões de ação na tabela (ícones) */

.table .btn {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    /* Mantém os botões circulares */
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}


/* Efeito de brilho branco subtil para todos os botões da tabela */

.table .btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}